.sapMObjectNumber .sapMObjectNumberText {
	font-weight: normal !important;
	font-size: 1.75rem !important;
}

.sapMObjectIdentifierText span {
	font-weight: lighter !important;
	font-size: 1rem !important;
}